
/* Language selector */
.language-selector {
    position: fixed;
    top: 30px;
    right: 40px;
    z-index: 200;
    display: none;
}

/* Language selector - button */
.language-button {
    padding: 6px 8px;
    border: 1px solid #2B5C7D;
    border-radius: 15px;
    background-color: rgba(43, 92, 125, 0.5);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;

    cursor: pointer;
}

/* Language selector - globe icon */
.globe {
    width: 13px;
    height: 13px;
    margin-right: 2px;

    fill: none;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 1.5;
    vertical-align: -2px;
}

/* Language selector - menu */
.language-menu {
    position: absolute;
    top: 32px;
    right: 5px;
    min-width: 90px;
    padding: 2px;

    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background-color: rgba(135, 187, 222, 0.1);
    font-size: 11px;
    display: none;
}

.language-selector:hover .language-menu {
    display: block;
}

/* Language selector - menu links */
.language-menu a {
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;

    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-align: right;
    text-decoration: none;
}

.language-menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Language selector - mobile */
@media (max-width: 700px) {
    .language-selector {
        top: 20px;
        right: 20px;
    }
}